# **1. Class and Objects:**

## **Example-01:**

In [5]:
class Student_info:
  pass

obj1 = Student_info()
obj2 = Student_info()

obj1.name = 'Dibyendu'
obj1.course = 'Python'

obj2.name = 'Arko'
obj2.course = 'BCA'


print(f"For object1 Name: {obj1.name} & Course: {obj1.course}")
print(f"For object2 Name: {obj2.name} & Course: {obj2.course}")

For object1 Name: Dibyendu & Course: Python
For object2 Name: Arko & Course: BCA

## **Example-02:**

In [9]:
class Person:

  def __init__(self, fname, lname, age, city):
    self.fname = fname
    self.lname = lname
    self.age = age
    self.city = city

obj = Person('Dibyendu', 'Biswas', 23, 'Siliguri')
print(f"Name: {obj.fname} {obj.lname}")

Name: Dibyendu Biswas

## **Example-03:**

In [12]:
class Persons:

  def __init__(self, fname, lname, age=23):
    self.fname = fname
    self.lname = lname
    self.age = age

  def Prniting(self):
    print(f"Name: {self.fname} {self.lname} & Age: {self.age}")

obj1 = Persons('Dibyendu', 'Biswas')
obj2 = Persons('Arko', 'Paul', 24)
obj3 = Persons('Ram', 'Sharma', 33)
obj4 = Persons('Rocky', 'Sen')

obj1.Prniting()
obj2.Prniting()
obj3.Prniting()
obj4.Prniting()

Name: Dibyendu Biswas & Age: 23
Name: Arko Paul & Age: 24
Name: Ram Sharma & Age: 33
Name: Rocky Sen & Age: 23

## **Example-04:**

In [15]:
class Persons:

  def __init__(self, fname, lname, age=23):
    self.fname = fname
    self.lname = lname
    self.age = age

  def Prniting(self):
    print(f"Name: {self.fname} {self.lname} & Age: {self.age}")

  def __str__(self):
    return f"Name: {self.fname} {self.lname} & Age: {self.age}"

obj1 = Persons('Dibyendu', 'Biswas')
obj2 = Persons('Arko', 'Paul', 24)
obj3 = Persons('Ram', 'Sharma', 33)
obj4 = Persons('Rocky', 'Sen')


print(obj1)
print(obj2)
print(obj3)
print(obj4)

Name: Dibyendu Biswas & Age: 23
Name: Arko Paul & Age: 24
Name: Ram Sharma & Age: 33
Name: Rocky Sen & Age: 23

## **Example-05:**

In [19]:
class MyClass:

  def __init__(self, fname, lname):
    self.fname = fname
    self.lname = lname
  
  def Age(self, age):
    self.age = age
    print("My age is ", self.age)
  
  def Location(self, loc):
    self.location = loc
    print(f"I am from {self.location}")
  
  def __str__(self):
    return f"I am {self.fname} {self.lname}"


obj1 = MyClass('Dibyendu', 'Biswas')
obj1.Age(23)
obj1.Location('Siliguri')
print(obj1)

My age is  23
I am from Siliguri
I am Dibyendu Biswas

## **Example-06:**

In [22]:
class NewClass:

  def __init__(self, fname, lname):
    self.name1 = fname
    self.name2 = lname
  
  def PrintAll(prints):
    return f"Name is: {prints.name1} {prints.name2}"

obj1 = NewClass('Dibyendu', 'Biswas')
print(obj1.PrintAll())

Name is: Dibyendu Biswas

## **Example-07:**

In [31]:
class ExampleClass:

  def __init__(self, fname, lname):
    self.fname = fname
    self.lname = lname
  
  def Age(self, age):
    self.age = age
    return self.age
  
  def Location(self, loc):
    return loc
  
  def PinCode(self, pin):
    return pin

  def Print(self):
    self.age = self.Age(23)
    self.location = self.Location('Siliguri')
    pin = self.PinCode(734001)
    return "My age {age} and location is {location} and pincode {pincode}".format(age=self.age, location=self.location, pincode=pin)

  def __str__(self):
    self.age = self.Age(23)
    self.location = self.Location('Siliguri')
    self.pin = self.PinCode(734001)
    return f"I'm {self.fname} {self.lname}, my age is {self.age}, I'm from {self.location}, pincode {self.pin}"

obj1 = ExampleClass('Dibyendu', 'Biswas')
print(obj1.Print())
print(obj1)

My age 23 and location is Siliguri and pincode 734001
I'm Dibyendu Biswas, my age is 23, I'm from Siliguri, pincode 734001

## **Example-08:**

In [32]:
def Num():
  return 10

class Call:

  def __init__(self, fname, lname):
    self.num = Num()
    self.fname = fname
    self.lname = lname
  
  def PrintAll(self):
    print(f"Name: {self.fname} {self.lname} and random number: {self.num}")
  
obj = Call('Dibyendu', 'Biswas')
obj.PrintAll()

Name: Dibyendu Biswas and random number: 10

## **Example-09:**

In [33]:
def Add(a, b):
  return a+b

class Calling:

  def __init__(self, name, num1, num2):
    self.name = name
    self.num1 = num1
    self.num2 = num2
    self.add = Add(self.num1, self.num2)

  def PrintAll(self):
    print(f"name: {self.name} & Addition value: {self.add}")


obj = Calling('Dibyendu', 20, 30)
obj.PrintAll()

name: Dibyendu & Addition value: 50

## **Example-10:**

In [36]:
class Person:

    def set_name(self, name):
        self.name = name

    def set_surname(self, surname):
        self.surname = surname
         
    def set_year_of_birth(self, year_birth):
        self.year_birth = year_birth
     
    def __str__(self):
        return f"{self.name} {self.surname} was born in {self.year_birth}"
    

obj = Person()
obj.set_name("Dibyendu")
obj.set_surname("Biswas")
obj.set_year_of_birth('12-03-1999')
print(obj)

Dibyendu Biswas was born in 12-03-1999